[graph]
targets = []
all-features = true

[advisories]
ignore = [
    "RUSTSEC-2025-0141",
    "RUSTSEC-2024-0436",
    "RUSTSEC-2024-0320",
]

[bans]
multiple-versions = "warn"
wildcards = "allow"
highlight = "all"
# Skip duplicate checks for these crates
skip = [
    { crate = "windows-sys" },
    { crate = "windows-targets" },
    { crate = "windows_aarch64_gnullvm" },
    { crate = "windows_aarch64_msvc" },
    { crate = "windows_i686_gnu" },
    { crate = "windows_i686_gnullvm" },
    { crate = "windows_i686_msvc" },
    { crate = "windows_x86_64_gnu" },
    { crate = "windows_x86_64_gnullvm" },
    { crate = "windows_x86_64_msvc" },
    { crate = "linux-raw-sys" }, 
    { crate = "rustix" },
    { crate = "getrandom" },
    { crate = "hashbrown" },
    { crate = "unicode-width" }
]

[licenses]
confidence-threshold = 0.8
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-3-Clause",
    "BSL-1.0",
    "Zlib",
    "Unicode-3.0",
    "MPL-2.0",
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []